.vs/*
*/*/Debug/*
*/CMakeFiles/*
*/Debug/*
CMakeFiles/*
scripts/*
tests/*
publish/*
*/*.vcxproj
*/*.vcxproj.*
*/*.sln
*/*.cmake
*.cmake
*.vcxproj
*.vcxproj.filters
CMakeCache.*
*.sln
*.*.user

*.env
install_manifest.txt